node_modules
bower_components
.sass-cache
build
demos/*
demos1
TODO.md
npm-debug.log
*.sublime-*
.idea
yarn.lock
.vscode
exampleslib
examples/scripts/configs.json
jquery.html
docs/fonts/
docs/ajax-loader.gif
package-lock.json
.DS_Store
webpack.config.js
webpack.config.dist.js
test-setup.js
test-helpers.js
gulpfile.js
CONTRIBUTING.md
.travis.yml
.npmignore
.eslintrc
.babelrc
src/*
node_modules/*
examples/*
docs/*
__tests__/*
.github/*
.git/*